* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0 5% 0 5%;
  background-color: #44363f;
}

#main {
  display: flex;
  flex-direction: row;
}

.content {
  width: 70%;
  color: #dbe1d5;
}

.sidebar {
  width: 30%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #dbe1d5;
}

.sidebar-post {
  padding: 20px;
  background-color: #667694;
}

h1,
h2,
h3 {
  color: #ebcf82;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 250px);
  grid-auto-flow: row;
  gap: 20px;
}

img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in 0s;
}

img:hover {
  height: auto;
  transform: scale(1.2);
}

.sidebar-post > a {
  color: #44363f;
  text-decoration: none;
  transform: all 6s ease-in 0s;
}
.sidebar-post > a:hover {
  color: #ebcf82;
  text-decoration: underline;
}
